@import "../../global.scss";

.intro{
    background-color: white;
    display: flex;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }

    .left{
        flex: 0.5;
        overflow: hidden;
        

        .imgContainer{
            width: 700px;
            height: 700px; 
            background-color: rgb(217, 138, 236);
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;
            position: relative;
            right: 150px;
            top: 80px;
            
            @include mobile{
                align-items: flex-start;
            }

            img{
                position: relative;
                top: -90px;
                height: 80%;

                @include mobile{
                    height: 50%;
                }
            }
        }

    }
    .right{
        flex: 0.5;
        position: relative;

        .wrapper{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile {
                padding-left: 0;
                align-items: center;

            }
            h1 {
                font-size: 60px;
                margin: 10px 0;
                @include mobile{
                    font-size: 40px;
                }
            }
            h2 {
                font-size: 35px;
            }
            h3 {
                font-size: 30px;
                @include mobile{
                    font-size: 20px;
                }

                span {
                    font-style: inherit;
                    color: $mainColour;
                }

                .ityped-cursor {
                    animation: blink 1s infinite
                }

                @keyframes blink {
                    100%{
                        opacity: 0;
                    }
                    50%{
                        opacity: 100;
                    }
                }
            }
        }
        #ExpandMoreSharp {
            position: absolute;
            bottom: 10px;
            left: 40%;
            animation: arrowBlink 2s infinite;
            //height: 200%; 
            

            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
        }

    }
}